.sinusgraph {
  width: 100%;
  border: 1px solid #eeeeee;
}
.highgauge {
  width: 100%;
  border: 1px solid #eeeeee;
}
#biorhythms .panel-default {
  margin-top: 0;
}
.biorhythms-container {
  padding: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.biorhythms-summary-container .panel {
  margin-top: 0 !important;
}
.biorhythms-summary-container .panel h4:not(:first-child) {
  margin-top: 20px !important;
}
.biorhythms-summary-container .panel .panel-body p:nth-last-child(2) {
  margin-bottom: 0 !important;
}