@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@model List<NineStarKiEnergy>

<div class="cycles-summary">
    @if (Model != null && Model.Any())
    {
        foreach (var energy in Model)
        {
            var bookmark = $"{energy.EnergyName.ToLower()}-month";
            <div class="cycle-summary">
                <div class="bookmark" id="@bookmark"></div>

                @Html.Partial("../NineStarKi/_CycleHeader", energy)

                @Html.CollapsiblePanel(energy.CycleDescriptiveName, energy.CycleDescription, true)
            </div>
        }
    }
</div>
