@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.AccountActivationTitle;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}

<div class="margin-bottom-10">
    @Html.Success(K9.Base.Globalisation.Dictionary.AccountActivatedSuccessfully)

    <hr />

    <div class="text-center">
        @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.MyAccountTitle, "MyAccount", "Account", null, "fa fa-user-circle", EButtonClass.Large)
    </div>
</div>