@{
    ViewBag.Title = Dictionary.UnsubscribeRequeset;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}
<div class="margin-bottom-10">
    @Html.Success(Dictionary.UnsubscribeSuccess, Html.ActionLink(K9.Base.Globalisation.Dictionary.PleaseContactSupport, "ContactUs", "Support"))
</div>
