@model K9.WebApplication.ViewModels.TestimonialViewModel

<div class="testimonial-box">
    <div class="testimonial-name">@Model.Name</div>
    <div class="testimonial-stars">★★★★★</div>
    <p class="testimonial-text">
        "@Model.Body"
    </p>
</div>