@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model List<NineStarKiEnergy>

@{
    var energyType = Model?.FirstOrDefault()?.EnergyType ?? ENineStarKiEnergyType.MainEnergy;
    var mainEnergyText = TemplateProcessor.PopulateTemplate(Dictionary.main_energies_short_description, new
    {
        RelationshipsUrl = Url.Action("Index", "Relationships")
    });
    var characterEnergyText = TemplateProcessor.PopulateTemplate(Dictionary.character_energies_short_description, new
    {
        RelationshipsUrl = Url.Action("Index", "Relationships")
    });
}

<div class="energies-summary">
    @if (energyType == ENineStarKiEnergyType.CharacterEnergy)
    {
        @MvcHtmlString.Create(characterEnergyText)
    }
    else
    {
        @MvcHtmlString.Create(mainEnergyText)
    }

    @if (Model != null && Model.Any())
    {
        foreach (var energy in Model)
        {
            @Html.CollapsiblePanel(energy.EnergyTitle, energy.EnergyDescription, true, "", "", $"Images/ninestar/energies/{energy.Energy}.png", EPanelImageSize.Default, EPanelImageLayout.Contain)
        }
    }
</div>