@using K9.Base.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.Consultation;
    ViewBag.SubTitle = Dictionary.ConsultationAssignedSuccess;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}

<div class="margin-bottom-10">
    @Html.Success(Dictionary.ConsultationAssignedSuccess + " <i class='fa fa-smile'></i>", Html.ActionLink(K9.Base.Globalisation.Dictionary.Users, "Index", "Users"))
</div>