@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var childClass = Model.PersonModel.IsAdult() ? "" : "child-profile";
    var panelTitle = Model.IsMyProfile ? Dictionary.MyPersonalProfile : Dictionary.PersonalChartOverview;
}

<div class="energy-summary-container">
    @Html.Panel(panelTitle, Html.Partial("../PersonalChart/_PersonalChart").ToString())
</div>
