@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model K9.WebApplication.Models.NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        @Html.Panel($"{Model.MainEnergy.EnergyNameAndNumber} {Dictionary.Career}", $"{Model.Occupations}{Model.PersonalDevelopemnt}", "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
    </div>



}