@using K9.WebApplication.Config
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model K9.WebApplication.Models.NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        <div>
            <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
                <li class="active">
                    <a data-toggle="tab" href="#m-details">
                        @Model.SurfaceEnergy.DescriptiveTitle
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/GetToTheRoot/energies/{Model.SurfaceEnergy.EnergyLowerCase}.png")');"></div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="m-details" class="tab-pane fade in active">
                    @Html.Panel(Model.SurfaceEnergy.EnergyTitle, Model.SurfaceEnergy.EnergyDescription, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                </div>
            </div>
        </div>
    </div>
}