@{
    ViewBag.Title = Dictionary.MailChimpImport;
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}

<div class="margin-bottom-10">
    @Html.Success(Dictionary.MailChimpImportSuccess)
</div>