@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.GetInTouchTitle;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}

<div class="margin-bottom-10">
    @Html.Success(K9.Base.Globalisation.Dictionary.ContactSupportSuccess)
</div>
