@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers.Html

@{
    ViewBag.Title = Dictionary.MailingLists;
    ViewBag.SubTitle = Dictionary.EmailTemplateSendFailed;
    ViewBag.TitleTag = "text-center";
    Layout = "../Shared/_LayoutFormSmall.cshtml";

    string errorMessage = ViewBag.ErrorMessage ?? "";
}
@Html.Failure(Dictionary.EmailTemplateSendFailed, errorMessage)

<div class="text-center margin-bottom-10 margin-top-20">
    @Html.BootstrapBackToListButton()
</div>