@using K9.SharedLibrary.Helpers
@using TemplateParser = K9.SharedLibrary.Helpers.TemplateParser
@{
    ViewBag.Title = Dictionary.HowToRemoveYourDataTitle;
    ViewBag.SubTitle = Dictionary.HowToRemoveYourDataTitle;

    Layout = "../Shared/_LayoutForm.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content privacy-policy">
    <article>
        @using (Html.BeginBootstrapForm())
        {
            @MvcHtmlString.Create(TemplateParser.Parse(Dictionary.HowToRemoveYourData, new { RemoveDataUrl = Url.Action("RemoveMyData", "Account") }))
        }
    </article>
</div>

