@{
    ViewBag.Title = K9.Globalisation.Dictionary.MembershipLabel;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.AlreadySubscribed;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}

<div class="margin-bottom-10">
    @Html.Success(K9.Globalisation.Dictionary.SwitchMembershipErrorAlreadySubscribed, Html.ActionLink(K9.Base.Globalisation.Dictionary.MyAccountTitle, "MyAccount", "Account"))
</div>
