@using K9.Base.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.MembershipOptions;
    ViewBag.SubTitle = Dictionary.PurchaseCancelled;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}

<div class="margin-bottom-10">
    @Html.Success(Dictionary.PurchaseCancelSuccessful)
</div>