@media (max-width: 320px) {
  .tabs .nav-tabs li a {
    padding: 1em;
  }
  .main-heading h3 {
    letter-spacing: 1px;
  }
  .main-section h4 {
    font-size: 1em;
  }
  .top-nav ul li a {
    font-size: 0.9em;
    padding: 0.5em;
  }
}