@media (max-width: 767px) {
  .mobile-only {
    display: block !important;
  }
  .desktop-only {
    display: none;
  }
  .padding-left-20-desktop {
    padding-left: 0 !important;
  }
  .panel-margin-top-20 {
    margin-top: 20px;
  }
  .panel-body .table-responsive {
    width: auto !important;
  }
  form .well div .col-sm-6:first-of-type,
  .well form div .col-sm-6:first-of-type {
    padding: 0 !important;
  }
  form .well div .col-sm-6:last-of-type,
  .well form div .col-sm-6:last-of-type {
    padding: 0;
  }
  .panel-body .nav-pills > li + li {
    margin-left: 0 !important;
  }
  .well {
    margin: 0 !important;
  }
  form .well {
    margin-bottom: 20px !important;
  }
  .well-mobile {
    padding: 0 !important;
  }
  .container,
  container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  div.inline-form,
  form {
    width: 100% !important;
  }
  .page h1 {
    text-align: center;
  }
  .page .panel-heading h4 {
    text-align: center;
  }
}
@media (min-width: 766px) {
  .device-only {
    display: none;
  }
}