@using K9.SharedLibrary.Extensions
@using K9.SharedLibrary.Helpers
@model K9.WebApplication.Models.CompatibilityModel

@Html.Raw(TemplateProcessor.PopulateTemplate(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsTransformationDetails, new
{
    SameTransformationLink = Url.ActionWithBookmark("About", "Home", "same-transformation"),
    SupportiveTransformationLink = Url.ActionWithBookmark("About", "Home", "supportive-transformation"),
    ChallengingTransformationLink = Url.ActionWithBookmark("About", "Home", "challenging-transformation")
}))

<p>
    @Html.Raw(Model.CompatibilityDetails.ElementCompatibility.CharacterElementsCompatibilityDetails)
</p>
