@model K9.WebApplication.Models.NineStarKiEnergy

<div class="container main-content clear-both margin-top-5">
    <div class="row">
        <div class="col-xs-4">
            @Html.Partial("../NineStarKi/_Energy")
        </div>
        <div class="col-xs-4">
            @Html.Partial("../NineStarKi/_Element")
        </div>
        <div class="col-xs-4">
            @Html.Partial("../NineStarKi/_Season")
        </div>
    </div>
</div>