@model K9.WebApplication.Models.NineStarKiModel

<div class="well padding-top-30">
    <div id="energy-summary-container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2 margin-bottom-15">
                <a href="#" id="current-yearly-cycle">
                    @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
                </a>
            </div>
            <div class="col-md-4 col-sm-4 margin-bottom-15">
                <a href="#" id="current-monthly-cycle">
                    @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
                </a>
            </div>
        </div>
    </div>
</div>