@model K9.WebApplication.Models.NineStarKiEnergy
 
<div class="ninestar-summary-container">
    <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Energy</h3>
    <p>@Model.EnergyName</p>
    <img title="@Model.EnergyName" alt="@Model.EnergyName" class="auto-size center-block" src="~/Images/ninestar/energies/@(Model.Energy.ToString().ToLower()).png"/>
</div>