@using K9.WebApplication.Models
@model NineStarKiEnergy

@{
    var label = Model.EnergyType == ENineStarKiEnergyType.MainEnergy ? Model.AdultEnergyLabel
        : Model.EnergyType == ENineStarKiEnergyType.CharacterEnergy ? Model.CharacteEnergyLabel
            : Model.EnergyType == ENineStarKiEnergyType.SurfaceEnergy ? Dictionary.SurfaceEnergyShortLabel
                : string.Empty;
}

<div class="ninestar-summary-container">
    <h3 class="margin-bottom-0 padding-bottom-0" style="font-size: 0.95em;">@label</h3>
    <p>@Model.EnergyName</p>
    <img title="@Model.EnergyName" alt="@Model.EnergyName" class="auto-size center-block" src="~/Images/ninestar/energies/@(Model.Energy.ToString().ToLower()).png" />
</div>