@model K9.WebApplication.Models.NineStarKiEnergy

<div class="ninestar-summary-container">
    <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Season</h3>
    <p>@Model.SeasonDescription</p>
    <img title="@Model.SeasonDescription" alt="@Model.SeasonDescription" class="auto-size center-block" src="~/Images/ninestar/seasons/@(Model.Season).png" />
</div>