@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    ViewBag.Title = Dictionary.NineStarKiCalculatorTitle;
    ViewBag.SubTitle = Dictionary.PersonalProfileCalculator;
    ViewBag.Keywords = Dictionary.NineStarKiCalculatorKeywords;
    ViewBag.MetaDescription = Dictionary.NineStarKiCalculatorMetaDescription;

    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        
    </article>
</div>