@model K9.WebApplication.Models.CompatibilityModel
@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.CompatibilityTitle;
    ViewBag.SubTitle = Dictionary.RelationshipCompatibilityCalculator;
    ViewBag.Keywords = Dictionary.CompatibilityKeywords;
    ViewBag.MetaDescription = Dictionary.CompatibilityMetaDescription;

    ViewBag.Background = ViewBagHelper.EViewBackground.Default;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content margin-bottom-0">
    <article>
        <div class="col-sm-12 padding-0">
            @Html.Partial("_CompatibilityCalculator")
        </div>
        @if (Model != null && Model.IsProcessed)
        {
            <div class="col-sm-12 padding-0 margin-top-0">
                @Html.Panel(Dictionary.Results, Html.Partial("_CompatibilityOverview", Model).ToString())
            </div>
        }
        @if (Model != null && Model.IsProcessed)
        {
            <div class="col-sm-12 padding-0 margin-top-5">
                @using (Html.PaidContent(Model, () => !Model.IsUpgradeRequired))
                {
                    @Html.Partial("_CompatibilityPills")
                }
            </div>
        }
    </article>
</div>