@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers

@{
    ViewBag.Title = Dictionary.RelationshipsTitle;
    ViewBag.SubTitle = Dictionary.RelationshipsTitle;
    ViewBag.Keywords = Dictionary.RelationshipsMetaDescription;
    ViewBag.MetaDescription = Dictionary.RelationshipsMetaDescription;

    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <article>
        @Html.Panel("9 Star Ki and Relationships", Html.Partial("_AboutRelationships").ToString(), "relationships")

        @Html.Panel("The 5 Transformations", Html.Partial("../NineStarKi/_FiveTransformations").ToString(), "transformations")

        @Html.Panel("9 Star Ki and Sexuality", Html.Partial("../NineStarKi/_Sexuality").ToString(), "sexuality")
    </article>
</div>

