@{
    ViewBag.Title = Dictionary.BookAConsultation;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";
}
<div class="margin-bottom-10">
    @Html.Success(Dictionary.BookAConsultationSuccess, Dictionary.BookAConsultationSuccessMessage)
</div>